# Database (PostgreSQL externa)
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

# SMTP (Gmail)
SMTP_USERNAME=
SMTP_PASSWORD=

# URLs del frontend
VERIFY_URL=
RESET_URL=

# Security
SECURITY_PEPPER=

# meili search
MEILI_HOST=
MEILI_API_KEY=